# Salin file ini menjadi .env lalu isi sesuai konfigurasi lokal kamu
# Jangan push file .env ke GitHub!

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=fti_survey
SESSION_SECRET=isidengankatakatasecretacak
PORT=3000
